apiVersion: v1
kind: Service
metadata:
  labels:
    {{- include "slsa-verde.labels" . | nindent 4 }}
  name: {{ include "slsa-verde.fullname" . }}
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: http
  selector:
    {{- include "slsa-verde.selectorLabels" . | nindent 4 }}