apiserverIP:

image:
  repository: europe-north1-docker.pkg.dev/nais-io/nais/images
  name: picante
  tag: 20230414-090558-6aaa3f2

team: nais

webproxy: false

resources:
  requests:
    cpu: 30m
    memory: 512Mi

dockerconfigjson: '{"auths":{}}'

google:
  serviceAccountEmail:

fqdns:
  - ttl.sh
  - sigstore-tuf-root.storage.googleapis.com
  - europe-north1-docker.pkg.dev

config:
  logLevel: info
  cluster: test
  cosign:
    keyRef:
  dependencytrack:
    api: http://dependencytrack-backend:8080
    username: picante
    password:
    team: Administrators
  github:
    organizations:

kms:
  pubKey: |
    -----BEGIN PUBLIC KEY-----
    MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEUxgOVWCBlCTpJcKKJxQTLBAkp5F9
    /rKmU0cIhHkBJmbPLcDtmoDX0fX7d9OzpK7eLyBg+c/rRcQgGvZvBCLRKQ==
    -----END PUBLIC KEY-----