name: PR Check

on:
  pull_request:
    paths-ignore:
      - 'charts/**'
      - '*.md'
      - 'LICENSE.md'

jobs:
  go_version:
    if: ${{ github.actor != 'dependabot[bot]' }}
    outputs:
      go_version: ${{ steps.go_version.outputs.GO_VERSION }}
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Find Go version
        id: go_version
        run: |
          echo "GO_VERSION=$(grep golang .tool-versions | awk '{print $2}')" >> $GITHUB_OUTPUT
  test-pr:
    runs-on: ubuntu-latest
    needs: go_version
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ needs.go_version.outputs.go_version }}
          cache-dependency-path: ./go.sum
      - run: make test